<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main2</display-name>
    <servlet-name>Main2</servlet-name>
    <servlet-class>Main2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main2</servlet-name>
    <url-pattern>/Main2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main3</display-name>
    <servlet-name>Main3</servlet-name>
    <servlet-class>Main3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main3</servlet-name>
    <url-pattern>/Main3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBC</display-name>
    <servlet-name>JDBC</servlet-name>
    <servlet-class>JDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBC</servlet-name>
    <url-pattern>/JDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form1</display-name>
    <servlet-name>Form1</servlet-name>
    <servlet-class>Form1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form1</servlet-name>
    <url-pattern>/Form1</url-pattern>
  </servlet-mapping>
</web-app>